body{
    /* font-family: "open-sans"; */
    font-family: 'Roboto Slab', serif;
}

.navbar-light .navbar-nav .nav-link.activated {
    color: #003a62;
}

.navbar-light .navbar-nav a{

    font-style: bold;
    font-weight: 1000;
    cursor: pointer;
    justify-content: center
}

.header{

    /* background-color: rgb(178, 203, 248); */
    position: fixed;
}

.right-area{
    background: #003a62;
    padding: 25px 30px;
    color: #ffffff;
    position: relative
}

.navbar .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 3rem;
}

.carousel-item img{
    height: 400px;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: #003a62;
    padding:10px;
}

div.carousel-caption {
    position: absolute;
    z-index: 2;
    display:table;
    width:100%;
    height:100%;
    top: 20%;
}
div.carousel-caption h3{
    position: relative;
    animation: fadeInLeft 1000ms ease-in-out;
}
div.carousel-caption.s2 {
    position: absolute;
    z-index: 2;
    display:table;
    width:100%;
    height:100%;
    top: 20%;
    float: left;
    left: -16rem;
    color: #003a62 ;
}

div.carousel-caption.s3 h3{
    color: white;
    font: Garamond;
    font-style: italic;
    font-size: 54px;
    left: -30rem;
    text-shadow:5px 5px 10px black;
}

.section-title h2 {
    font-size: 36px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 400;
}

.section-title h2 span {
    
    color: purple;
    font-style: bold;
    margin-left: 3px;
    
}

.home-about-area{
    padding-top: 40px;
}

.home-about-area .about-images .addimage{
    display: none;
}

.home-about-area .ab-count{
    background-color: white;
    grid-template-columns: auto auto auto auto;
        background-size: cover;
        background-position: center;
        display: grid;
        grid-auto-columns: 400px;
    
}

.home-about-area .ab-count > .ab-count .about-counter-list {
   
    
    
    text-align: center;
    margin: 2px;
    
  }

.home-about-area .ab-count .about-counter-list {
    color:  white;
    text-align: left;
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 250px;
    padding: 100px 0;
    opacity: 1;
    transition: all 0.5s ease 0s;
    font-style: bold;
}

.navbar-light .navbar-nav a:hover {
    
    border-style: transparent;
    background-color:#a4d0ec;
    border-radius:70px;
}

.home-about-area .ab-count .about-counter-list .overley {
    background:black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
    opacity: 0.7;
}

.home-about-area .ab-count .about-counter-list .overley .informations {
    left: 0;
    margin-top: 0px;
    width: 100%;
    transition: .5s;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 0%;
    transform: translateY(50%);
}

.home-about-area .ab-count .about-counter-list.part-one,.home-about-area .ab-count .about-counter-list.part-two,.home-about-area .ab-count .about-counter-list.part-three{
    height: 200px;
    width: 400px;
    background-color: #003a62;
    margin-right: -20px;
    opacity: 0.3;
    border-style: transparent;
    border-radius: 20px;
    background-size: cover;
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%
}



.flex {
    
    flex: 1 0.5 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 5px;
    }
}

.padding {
    padding: 1px;
}



.owl-carousel .item img {
    display: block;
    width: 200px;
    height: 150px;
}

.owl-carousel .owl-item {
    margin: 1px;
    width: 285px;
}

.owl-carousel {
    margin-bottom: 15px
}

div.card{

    border: transparent;
    
}

.fa-certificate{
    margin:2px;
    
}

.gallery{
    text-align: center;
    margin-left: 50%;
    color: purple;
}

.classes-section .card img{

    border-radius: 50%;
    height: 280px;
    width: 280px;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(255, 175, 1);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.9;
    transition:  all 800ms ease 0s;
    border: 2px solid #fff;
  }

  .spad {
    padding-top: 100px;
    
    
}

.event-video {
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
}

.event-video .video-popup {
    position: absolute;
    left: calc(50% - 43px);
    top: calc(50% - 42px);
}

.event-video a img{
        
vertical-align: middle;
border-style: none;
width: 30px;
height: 30px;
display: center;
border: 1px purple solid;
background-color: rgb(184, 73, 184);
border-radius: 50%;
    
}

.event-video img{

    width: 450px;
    height: 270px;
    
}

.about-section.spad h2,.about-section.spad .ai-text h4, .benefits-section.spad h2{
    color: purple;
}


.classes-section .section-title h2{
    color: purple;
}

.classes-section.spad{

    padding-top: 65px;
    padding-bottom: 40px;

}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 708px;
}

.page-top-section {
    height: 478px;
    position: relative;
    padding-top: 220px;
    text-align: center;
}

.single-progress-item .progress-bar-style .bar-inner {
    position: relative;
    height: 100%;
    border-radius: 15px;
}


.single-progress-item .progress-bar-style .bar-inner span {
    position: absolute;
    bottom: 100%;
    right: -18px;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    margin-bottom: 15px;
    padding: 3px 7px;
    border-radius: 3px;
    background: purple;
}


.single-progress-item p {
    font-size: 16px;
    color: #333333;
    line-height: 1;
    margin-bottom: 15px;
}

.single-progress-item {
    margin-bottom: 40px;
}

.wwd-text p {
    margin-bottom: 40px;
}

.page-top-section .container {
    position: relative;
    z-index: 9;
}

.single-progress-item .progress-bar-style {
    height: 8px;
    width: 100%;
    background: purple;
    border-radius: 15px;
}

.wwd-text h3 {
    color: purple;
    
}

.aligncenter, img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-area {

    
    font-size: 16px;

}



.footer-area .row .child1,.footer-area .row .child3{
    margin-top: 40px;

}

.footer-area .row .child2{
    background-color:white;
}

.footer-area .textwidget img{

    height: 54px;
    width: 70px;
    margin-top: 20px;
}
footer .footer-bottom-area{
    background-color: #003a62;
    padding: 20px;
    color: white;
}
footer .footer-bottom-area .widget .social-media ul {
    text-align: left;
}

footer .footer-bottom-area .widget .social-media ul li {
    display: inline-block;
    margin: 1px 0;
}

footer .footer-bottom-area .widget .social-media ul li a {
    border: 1px solid #000000;
    display: block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    transition: all 0.5s ease 0s;
    color: #ffffff;
    text-align: center;
    margin: auto;
    background: purple;
    text-decoration: none;
}

footer .footer-bottom-area .widget .we-accept ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

footer .footer-bottom-area .widget .we-accept ul li:first-child {
    margin-right: 10px;
}

footer .footer-bottom-area .widget .we-accept ul li {
    display: inline-block;
}

iframe{
    width: 1051px;
    height: 502px;
    margin-top: 60px;
}

.contact{
    
    text-align: center; 
    padding-bottom: 3px;
    padding-top: 18px;
    margin-top: 11px;
    color: #003a62;
}

.formelements,.con1{
    margin: 0 auto;
    
}

   

.formgrid{
    
    margin-top: 50px;
    margin-bottom: 50px;
}

.formsubmit {
    background-color: #003a62;
    color: #f0e3e3;
    margin-left: 40%;
}

.contact .fa-heart{

    color: rgba(230, 9, 9, 0.925);
    cursor: pointer;
    
}

.fa-heart:hover{

    transform: scale(1.5); 
}

.trainer img{

    height: 40px;
    width: 30px;
    margin-right: 10px;
}

.trainer #trainer{
    margin-left: 40%;
}

.page-top-section {
    height: 478px;
    position: relative;
    padding-top: 220px;
    text-align: center;
}

.trainers-page-section.spad {
    padding-top: 110px;
    padding-bottom: 105px;
}

.trainers-page-section .trainer-item {
    margin-bottom: 90px;
}

.trainer-item {
    display: block;
    position: relative;
    padding: 70px 40px 40px;
    -webkit-box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
    box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
    border-radius: 14px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.trainer-item .ti-img {
    position: absolute;
    right: 0;
    bottom: 0;
}


.trainer-item .ti-text {
    max-width: 190px;
    position: relative;
    z-index: 99;
    background: #fff;
}

.trainer-item .ti-social a {
    color: purple;
}

.classes img{

    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.classes-page-section.spad {
    padding-top: 110px;
    padding-bottom: 105px;
}

.classes-top {
    padding-right: 20px;
    margin-bottom: 40px;
}

.classes-item-warp {
    padding-right: 20px;
    margin-bottom: 55px;
}

.classes-item {
    text-align: center;
    background: #fff;
    padding-top: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 13px;
    -webkit-box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
    box-shadow: 0px 5px 6px rgb(72 105 114 / 15%);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.classes-item .ci-img img {
    width: 280px;
    height: 280px;
    border-radius: 30%;
    margin: 0 auto 25px;
    vertical-align: middle;
    border-style: none;
}

.classes-item .ci-text {
    padding: 0 15px 10px;
}

.classes-item h4 {
    color: purple;
    font-weight: 400;
    margin-bottom: 15px;
}

.classes-item .ci-meta {
    display: inline-block;
    font-size: 14px;
    color: #666666;
    margin-right: 10px;
    margin-bottom: 15px;
}

.classes-item .ci-meta i {
    color: purple;
    font-size: 15px;
    margin-right: 10px;
}

.classes-item p {
    font-size: 15px;
    color: #666666;
    line-height: 1.8;
}

.classes-item .ci-bottom {
    border-top: 1px solid #e6e6e6;
    padding: 25px 30px;
    text-align: left;
}

.classes-item .ci-author {
    display: inline-block;
}

.classes-item .ci-author img {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 11px;
}

.classes-item .ci-author .author-text {
    overflow: hidden;
    color: purple;
}

.sb-widget {
    margin-bottom: 50px;
}

.sb-widget .sb-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.classes-filter .circle-select {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

.circle-select {
    height: 49px;
    line-height: 47px;
    min-width: 234px;
    padding-left: 29px;
    border-radius: 41px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
}

.classes-filter .circle-select {
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.circle-select .current {
    font-size: 14px;
    color: #999999;
}

.circle-select .list {
    left: auto;
    right: 0;
}

.nice-select .option.selected {
    font-weight: bold;
}



.form {
    display: block;
    margin-top: 0em;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.list li {
    display: list-item;
}

.list.ul{
    
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    
}

select {
    
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    font: 400 13.3333px Arial;
}

.back-to-top {
    display: none;
    position: fixed;
    width: 49px;
    /* height: 49px; */
    right: 55px;
    bottom: 190px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    background-image: linear-gradient(purple, rgb(224, 224, 213));
}

.back-to-top img {

    
    height: 60px;
    width: 30px;
    

}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
  }

  .benefits-section .card-img-top, .wwd-section.spad.set-bg, .trainers-page-section .trainer-item .ti-img, .trainers-page-section .trainer-item .ti-text,.location .formgrid, .classes-top .classes-item-warp{
      display: none;
  }

  .home-about-area .about-images .addaboutimage{

    opacity:0.4;

  }

 